.dossier {
  background-color: #f8f6ef;
  border: 1px solid #222;
  padding: 2em;
  font-family: "Courier New", Courier, monospace;
  color: #111;
  line-height: 1.5em;
}

.masthead {
  border-bottom: 2px solid #000;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}

.masthead__seal {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #a00;
}
.masthead__title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.masthead__meta {
  font-size: 0.85em;
  text-transform: uppercase;
  color: #333;
}

.stamp {
  display: inline-block;
  border: 2px solid #a00;
  color: #a00;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3em 0.8em;
  font-size: 0.9em;
  margin-top: 1em;
  transform: rotate(-5deg);
}

.stamp--deprecated {
  border-color: #900;
  color: #900;
}

.section {
  margin-top: 2em;
}

.section__title {
  font-size: 1.1em;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.grid--two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid--two > * {
  margin-right: 1em;
}

.grid--two > *:last-child {
  margin-right: 0;
}
.photo-box {
  border: 1px solid #000;
  padding: 0.5em;
  max-width: 220px;
  background-color: #fff;
  text-align: center;
}
.photo-box__img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.photo-box__cap {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #333;
}

.redact-black {
  background-color: #000;
  color: #000;
  padding: 0 0.3em;
  border-radius: 1px;
}

.bullet {
  list-style-type: square;
  padding-left: 1.2em;
}
.notes-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
}

.notes-table th,
notes-table td {
  border: 1px solid #000;
  padding: 0.5em;
  vertical-align: top;
}

.notes-table th {
  background-color: #e8e5d9;
  text-transform: uppercase;
}
.relationships {
  display: flex;
  flex-direction: column;
}

.rel {
  display: flex;
  border: 1px solid #000;
  padding: 0.5em;
  background-color: #fff;
  margin-bottom: 1em;
}

.rel:last-child {
  margin-bottom: 0;
}
.rel__img {
  width: 80px;
  height: 80px;
  margin-right: 0.8em;
  border: 1px solid #000;
}

.rel__name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
}

.rel__note {
  font-size: 0.85em;
}

.sigline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;
}

.sigline__block {
  border-top: 1px solid #000;
  padding-top: 0.5em;
  width: 30%;
  min-width: 150px;
}

.sigline__label {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #333;
}

.sigline__name {
  font-weight: bold;
  font-size: 0.9em;
}

.sig-image {
  display: block;
  max-width: 150px;
  margin-top: 0.5em;
}

.foot {
  margin-top: 3em;
  border-top: 1px solid #000;
  padding-top: 0.5em;
  font-size: 0.75em;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.foot__rule {
  height: 2px;
  background-color: #000;
  margin-bottom: 0.5em;
}

.dom-dossier {
  background-color: #faf7f0;
  border: 1px solid #333;
  padding: 2em;
  font-family: Garamond, "Times New Roman", serif;
  color: #111;
  line-height: 1.7em;
  font-size: 1.15em;
  display: grid;
  grid-template-columns: 6em 1fr 6em;
  column-gap: 1.2em;
  overflow: hidden;
}

.dom-main {
  grid-column: 2;
}

.dom-main h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  margin-bottom: 0.6em;
}

.dom-main h2 {
  font-size: 1.15em;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  margin-top: 1.8em;
  margin-bottom: 0.4em;
}

.margin-left {
  grid-column: 1;
  font-size: 1em;
  font-style: italic;
  color: #7a0000;
  line-height: 1.35em;
  margin-bottom: 1.2em;
  padding: 0;
  border: none;
}

.margin-right {
  grid-column: 3;
  font-size: 1em;
  font-style: italic;
  color: #7a0000;
  line-height: 1.35em;
  margin-bottom: 1.2em;
  padding: 0;
  border: none;
}

.inline-note {
  display: block;
  font-size: 1em;
  font-style: italic;
  color: #7a0000;
  margin: 0.35em 0;
}

.dom-photo {
  width: 180px;
  border: 1px solid #000;
  background: #fff;
  margin: 1em 0;
}

.dom-photo-cap {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #555;
}
.dom-main ul {
  margin-left: 1.2em;
  margin-bottom: 0.8em;
}

.dom-warning {
  margin-top: 2em;
  border-top: 1px solid #000;
  padding-top: 0.7em;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;

}


